html{
    overflow-y:scroll;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all .2s ease;
}

*::-webkit-scrollbar{
    display: none;
}
body{
    font-family: sans-serif;
}

.board{
    border: 5px #000 solid;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
#canvas{
    cursor: pointer;
    background-color: #fff;
}

.color-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: auto;
    height: auto;
    max-height: 97vh;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #000;
}

.current-color{
    display: grid;
    place-items: center;
    border-radius: 5px;
    font-size: 11px;
    padding: 3px;
    border: 1px #000 solid;
    width: 100%;
}
#color-open{
    margin: 0 auto;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}
#color-open.open{
    transform: rotate(-180deg);
}
.colors{
    height: auto;
    max-height: 0px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    flex: .75;
    overflow-y: scroll;
}

.colors.open{
    max-height: 490px;
}


.color,.add-color{
    height: 60px;
    min-height: 60px;
    width: 60px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    font-size: 25px;
    cursor: pointer;
    margin: 5px 0;
    border: 1px #000 solid;
    scroll-snap-align: center;
}
.add-color{
    margin: 6px auto;
}
#newColor{
    display: block;
    padding: 20px;
    border-radius: 5px;
    background-color: #000;
    width: 100%;
    margin: 5px 0;
    border: 1px #000 solid;
}
#colorSelect{
    position: absolute;
    background-color: #fff;
    left: -100%;
    bottom: 20px;
    box-shadow: 0 0 10px;
    padding: 10px;
    width: 240px;
    border-radius: 5px
}
#colorSelect.open{
    left: 120px;
}
.sliders label {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 35px;
    font-size: 14px;
  }
  
  .sliders input {
    position: relative;
    top: 2px;
  }
  

#colorSelect button {
    border: none;
    float: right;
    border-radius: 4px;
    background-color: coral;
    clear: both;
    margin: 5px auto;
    padding: 5px 10px;
  }
  
.color.active{
    border: 2px #000 solid;
    
}
#red.color{
    background-color: #f00;
}

#green.color{
    background-color: #0f0;
}

#blue.color{
    background-color: #00f;
}

#add-color{
    background-color: #ccc;
    flex: .25;
}

#add-color.open i.fa{
    transform: rotate(-45deg);
    font-size: 50px;
}



.brush-size{
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px #000;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#brush-preview{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #000;
    border: 1px #000 solid;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
}

.brush-size:hover #brush-preview{
    opacity: 1;
}